#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/
Name[en_US]=pulseaudio-ctl
Exec=/usr/bin/pulseaudio-ctl set 70
Comment[en_US]=sets the pulse audio volume to 70 percent
Name=pulseaudio-ctl
Comment=sets the pulse audio volume to 70 percent
Icon=/
