# systemd service spec for pulseaudio running in system mode -- not recommended though!
# on manjaro, put it under /etc/systemd/system/pulse-system-wide.service and blank
# /usr/lib/systemd/user/pulseaudio.service
# start with: systemctl start pulse-system-wide
# enable on boot: systemctl enable pulse-system-wide
[Unit]
Description=Pulseaudio sound server (system mode)
After=avahi-daemon.service network.target

[Service]
ExecStart=/usr/bin/pulse-system-wide
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
